.fuel {
  top: 0;
  color: white;
  font-size: 30px;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}

.truck-fuel {
  top: 0;
  position: absolute;
  margin-left: 93px;
  color: white;
  font-size: 30px;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}

.between {
  top: 0;
  position: absolute;
  margin-left: 168px;
  color: white;
  font-size: 30px;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}

.truck-fuelCapacity {
  top: 0;
  position: absolute;
  margin-left: 188px;
  color: white;
  font-size: 30px;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
}
